.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  gap: 0.4rem;
}

.map {
  padding: 2rem;
  height: 70vh;
  border: 1px solid red;
}

.content {
  width: 85%;
  border: 1px solid #fff;
}

.erro-show-map {
  color: $color-danger;
}

.header-title {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid #fff;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: $color-primary;
}

.div-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
  // border: 1px solid #fff;

}

.btn-ok {
  cursor: pointer;
  background-color: $color-secondary;
  border: none;
  padding: 0.4rem;
  border-radius: 0.3rem;
  width: 6rem;
  color: $color-primary;
}